<div class="main-container">
    <div class="card main-card">
        <h3><b>Frequently Used</b></h3>
        <div class="data-card-container row">
            <app-data-card *ngFor="let card of cardList" [cardData]="card"
                class="col-xs-12 col-md-4 col-lg-4 "></app-data-card>
        </div>
    </div>


    <div class="middledropdown row">

        <mat-form-field appearance="outline" class="col-xs-12 col-md-3">
            <mat-label>Branches</mat-label>
            <mat-select panelClass="my-select-panel-class">
                <mat-option *ngFor="let branch of branches" [value]="branch">{{branch}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="col-xs-12 col-md-6">
            <div class="row">
                <mat-form-field appearance="outline" class="col-xs-12 col-md-6">
                    <mat-label>Custom Range</mat-label>
                    <mat-date-range-input [rangePicker]="dateRangePicker" [min]="minDate">
                        <input matStartDate placeholder="Start date">
                        <input matEndDate placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="dateRangePicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-xs-12 col-md-6">
                    <mat-label>Select Date</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="Select a date range"
                        [(ngModel)]="selectedDate" (dateChange)="formatSelectedDate($event.value)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

        </div>

    </div>

    <div class="card main-card">
        <div class="order-title-section">
            <h3><b>Order Details</b></h3>
            <a href="javascript:void(0)" class="data-card-button"><b>View All</b></a>
        </div>
        <div class="data-card-container row">
            <app-order-data-card *ngFor="let card of orderList" [cardData]="card"
                class="col-xs-12 col-sm-12 col-md-4 col-lg-3 "></app-order-data-card>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="card E-sign-card">
                <div class="order-title-section">
                    <h3><u><b>E-sign Count</b></u></h3>
                </div>
                <div style="display: flex;">
                    <div>
                        <div class="small-boxes">
                            <div class="data-box">
                            </div>
                            <div class="data-text">
                                <span>Initiated</span>
                            </div>
                            <div class="data-box" style="background-color: #c991d9">
                            </div>
                            <div class="data-text">
                                <span>Pending</span>
                            </div>
                        </div>

                        <div class="small-boxes">
                            <div class="data-box" style="background-color: purple;">
                            </div>
                            <div class="data-text">
                                <span>Signed</span>
                            </div>
                            <div class="data-box" style="background-color: lightpink;">
                            </div>
                            <div class="data-text">
                                <span>Expired</span>
                            </div>
                        </div>

                    </div>
                    <div class="progress-container">
                        <mat-progress-spinner [mode]="'determinate'" [value]="80">
                        </mat-progress-spinner>
                        <div class="spinner-text"><b>30k</b><br>Initiated</div>

                    </div>
                </div>

            </div>

        </div>
        <div class="col-sm-12 col-md-6">
            <div class="card E-sign-card">
                <div class="order-title-section">
                    <h3><u><b>E-stamp Count</b></u></h3>
                </div>

                <div style="display: flex;">
                    <div>
                        <div class="small-boxes">
                            <div class="data-box">
                            </div>
                            <div class="data-text">
                                <span>Initiated</span>
                            </div>
                            <div class="data-box" style="background-color: #c991d9">
                            </div>
                            <div class="data-text">
                                <span>Pending</span>
                            </div>
                        </div>

                        <div class="small-boxes">
                            <div class="data-box" style="background-color: purple;">
                            </div>
                            <div class="data-text">
                                <span>Signed</span>
                            </div>
                            <div class="data-box" style="background-color: lightpink;">
                            </div>
                            <div class="data-text">
                                <span>Expired</span>
                            </div>
                        </div>

                    </div>
                    <div class="progress-container">
                        <mat-progress-spinner class="custom-spinner" [mode]="'determinate'" aria-label="Loading"
                            [value]="80">
                        </mat-progress-spinner>
                        <div class="spinner-text"><b>30k</b><br>Initiated</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>