.main-container {
    padding: 16px;
    width: 100%;
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 120px;
}

.main-card {
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
}


.data-card-container {
    display: flex;
}

.data-card-button {
    color: rgb(143, 48, 143);
}

.order-title-section {
    display: flex;
    justify-content: space-between;
}

.E-sign-card {
    padding: 20px;
    margin-bottom: 20px;
}

.data-box {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 6px;
    margin-bottom: 10px;
    background-color: lightgray;
    padding: 8px;
    border-radius: 4px;
}

.small-boxes {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.small-boxes .data-text {
    margin-top: 10px;
    /* Add margin for spacing */
}

.progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-top: -25px;
}

.spinner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: black;
    text-align: center;
}

.custom-spinner .mat-mdc-progress-spinner circle.mat-mdc-progress-spinner-primary-circle {
    stroke: lightpink !important;
}

.my-select-panel-class {
    background-color: white;
    margin-top: 5%;
    padding: 0 0.75em 0 0.75em;
    width: 75%;
    align-items: baseline;
    border-radius: 20px;
}

.middledropdown{
    display: flex;
    justify-content: space-between;
}