<mat-toolbar class="footer-toolbar">
    <div class="footer-content">
      <div class="social-icons">
        <a href="https://www.facebook.com" target="_blank">
          <span class="bi bi-facebook social-icon" style="color: grey;"></span>
        </a>
        <a href="https://www.twitter.com" target="_blank">
          <i class="bi bi-twitter social-icon" style="color: grey;"></i>
        </a>
        <a href="https://www.linkedin.com" target="_blank">
          <i class="bi bi-linkedin social-icon" style="color: grey;"></i>
        </a>
      </div>
      <div class="copyright">
        <span class="footer-text" style="color: grey;">© 2023 All Rights Reserved</span>
      </div>
    </div>
  </mat-toolbar>
  