.footer-toolbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffff;
    color: #333;
    z-index: 1;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
  }
  
  .social-icons {
    display: flex;
  }
  
  .social-icon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .footer-text {
    font-size: 14px;
    font-weight: bold;
  }
  