<div class="data-card">
    <div class="left-section">
        <h4><b>{{cardData.title}}</b></h4>
        <div class="data-description">{{cardData.description}}</div>
        <div class="progress-section">
            <mat-icon class="trending-green">trending_up</mat-icon> +2.4%
        </div>
    </div>
    <div>
        <button mat-icon-button><mat-icon>{{cardData.icon}}</mat-icon></button>
    </div>
</div>