.data-card {
    background-color: #f1e4fd;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    margin: 10px 0; 
    display: flex;
}


.data-description {
    color: gray;
    font-size: 13px;
}

.left-section {
    flex: 1;
    margin-right: 16px;
}
.trending-green {
    color: lightgreen;
}
.progress-section {
    margin-top: 12px;
    display: flex;
    align-items: center;
}