.sidebar-cards {
  height: 100%;
  width: 280px;
  padding: 16px;
}

.side-info-card {
  padding: 20px;
  width: 100%;
  background: white;
  border-radius: 8px;
}

.data-description {
  color: gray;
  font-size: 13px;
}

/*  */

.card1 {
  margin-bottom: 10px;
}
.card2 {
  display: flex;
  margin-bottom: 10px;
}
.card3 {
  overflow-y: auto;
  height: 32vh;
}

@media screen and (max-width: 992px) {
  .card3 {
    overflow-y: hidden;
    height: auto;
  }
}

.data-description {
  color: gray;
  font-size: 13px;
}

.left-section {
  flex: 1;
  margin-right: 16px;
}
.trending-green {
  color: lightgreen;
}
.progress-section {
  margin-top: 12px;
  display: flex;
  align-items: center;
}
/*  */

.pending-action-card{
  padding: 8px;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 8px;
  margin-bottom: 20px;
}
