<div class="sidebar-cards">
  <div class="side-info-card card1 shadow-sm">
    <h3>Welcome back,<b> Michael</b></h3>
    <div class="data-description">25 May, 2023 Tuesday</div>
  </div>
  <div class="side-info-card card2 shadow-sm">
    <div class="left-section">
        <h4><b>Wallet Balance</b></h4>
        <h1><b>₹ 2,50,000</b></h1>
        <div class="data-description"><b>Current Balance</b></div><br>
        <div><b>Running low? <a href="javascript:void(0)" style="color:rgb(143, 48, 143); ;">Click here</a> to add more.</b></div>
    </div>
    <div>
      <button mat-icon-button><mat-icon>account_balance_wallet</mat-icon></button>
    </div>
  </div>
  <div class="side-info-card card3 shadow-sm">
    <h3>Pending Actions</h3>
    <div class="pending-action-card">
      <h3>#trd35468</h3>
      <div class="data-description">2 files are waiting to be Uploaded</div>
    </div>
    <div class="pending-action-card">
      <h3>#trd35468</h3>
      <div class="data-description">2 files are waiting to be Uploaded</div>
    </div>
    <div class="pending-action-card">
      <h3>#trd35468</h3>
      <div class="data-description">2 files are waiting to be Uploaded</div>
    </div>
    <div class="pending-action-card">
      <h3>#trd35468</h3>
      <div class="data-description">2 files are waiting to be Uploaded</div>
    </div>
    <div class="pending-action-card">
      <h3>#trd35468</h3>
      <div class="data-description">2 files are waiting to be Uploaded</div>
    </div>
  </div>
</div>
