
<!-- ----this is appcomponent.html ---- -->
<app-header (menuToggle)="drawer.toggle()" ></app-header>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="push">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <div class="example-sidenav-content">
    <div class="content">
      <app-sidebar class="d-none d-lg-block"></app-sidebar>
      <app-invoice-data style="width: 100%;"></app-invoice-data>
    </div>
  </div>

</mat-drawer-container>
<app-footer></app-footer>