.container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .content-wrapper {
    display: flex;
  }
  
  header, aside, main {
    padding: 20px;
  }
  
  header {
    background-color: #f2f2f2;
  }
  
  aside {
    background-color: #d8d8d8;
    flex: 0 0 200px;
  }
  
  main {
    flex: 1;
  }
  
  @media (max-width: 767px) {
    .content-wrapper {
      flex-direction: column;
    }
  
    aside {
      flex: none;
    }
  }


  /* Set the height of the content area to fill the remaining space */
.content {
  display: flex;
}

/* Main content should fill the remaining vertical space */
s
/* Footer styling */
app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

  