.data-card {
    border: 2px solid rgb(143, 48, 143);
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    margin: 10px 0; 
}


.data-description {
    color: gray;
    font-size: 13px;
}

.data-card-button {
    color: rgb(143, 48, 143);
}
