<div class="data-card">
    <h3><b>{{cardData.title}}</b></h3>
    <div class="data-description">{{cardData.description}}</div>
    <a href="javascript:void(0)" class="data-card-button">{{cardData.btnName}}</a>
</div>