.mat-toolbar {
  padding: 0;
  margin: 0;
}


.button-container {
  display: flex;
  padding: 0 10px;
  align-items: center;
}

.image-logo {
  width: 30px;
  margin-left: 40px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: black;
  position: relative;
}

.threelines{
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.user-icon{
  border: 1px solid black;
}

.displayheader {
  display: block;
 }

@media screen and (max-width: 1160px) {
  .displayheader {
   display: none;
  }
}

@media screen and (min-width: 1160px) {
  .menuicon {
   display: none;
  }
}

/* flex-direction: row;
    box-sizing: border-box;
    display: flex;
    position: relative;
    right: 11%;
    top: 15%; */