<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center" style="background-color: white; color: black;">
  <button mat-icon-button (click)="toggleDashboardMenu()" class="d-block d-lg-none"><mat-icon>menu</mat-icon> </button>
  <img class="image-logo" src="assets/docyfyimage-removebg-preview.png" alt="Your Brand Image">
  <span class="logo-text">OQFY</span>
  <span fxFlex="auto"></span>
  <div class="button-container">
    <div class="displayheader">
      <button mat-button>Services</button>
      <button mat-button>User Management</button>
      <button mat-button>My Orders</button>
      <button mat-button>Reports</button>
      <button mat-button>Stamp Inventory</button>
      <button mat-button>Barcode</button>
      <button mat-button>Invoice</button>
      <button mat-button>Coming Soon</button>
    </div>
    <button mat-icon-button (click)="openPopup()">
      <mat-icon>notifications</mat-icon>
      <span matBadge="{{ notificationCount }}" matBadgeColor="warn" matBadgePosition="above after"> </span>
    </button>
    &nbsp;
    <button mat-button class="user-icon">Michael</button>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menuicon"><mat-icon>menu</mat-icon></button>
  </div>
</mat-toolbar>
<app-popup *ngIf="showPopup"></app-popup>

<mat-menu #menu="matMenu">
  <button mat-menu-item>Services</button>
  <button mat-menu-item>User Management</button>
  <button mat-menu-item>My Orders</button>
  <button mat-menu-item>Reports</button>
  <button mat-menu-item>Stamp Inventory</button>
  <button mat-menu-item>Barcode</button>
  <button mat-menu-item>Invoice</button>
  <button mat-menu-item>Coming Soon</button>
 
  <!-- <mat-menu #notificationMenu="matMenu"> -->
  <!-- <ng-template matMenuContent>
    <button mat-menu-item (click)="openPopup()">Show Notification</button>
  </ng-template> -->
  <!-- </mat-menu> -->
</mat-menu>