/* You can add global styles to this file, and also import other style files */


@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

@import '~ngx-toastr/toastr';


html, body { height: 100%; overflow: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    background-color: hsl(198, 47%, 97%);
  }
  

.paddingRight .mat-form-field-infix
{
    padding-right: 60px !important;
}